* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
}

/* ---------------------Cabeçalho---------------------- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 50px;
    width: 100%;
}

header img {
    width: 100px;
}

/* Navegação */
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #003399;
    font-weight: bold;
    font-size: 16px;
}


/* ---------------------------------MAIN--------------------------- */
.main{
    display: flex;
    margin-bottom: 30px;
}

.inicio {
    text-align: center;
    margin: 30px auto;
    max-width: 900px;
}

.inicio img {
    width: 100%;
    border: 1px solid #ccc;
}

.inicio p {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

/* ----------------------------LANCAMENTO------------------------------ */

.yt {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 20px 0;
    margin: 15px;
}

iframe {
    width: 80%;
    height: 500px;
}

.anuncio {
    display: flex;
    justify-content: center;

}
.anuncio img {
    width: 90%;
    border-radius: 8px;
}


.imginicial{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.imginicial input{
    width: 30px;
}


.carros img {
    width: 20px;
    height: 20px;
}
.carros p{
    color: #0b38a1;
    font-size: 14px;
}
.carros{
    display: flex;
    justify-content:space-evenly;
}
.carros img{
    width: 25px;
}


.butao{
    display: flex;
    justify-content: center;
}
.button2 {
    margin: 40px;
    padding: 12px 30px;
    background-color: #0b3fa5;
    color: #fff;
    border-radius: 10px;
    font-size: 16px;
    border: none;
}

.button2:hover {
    background-color: #144ed4;
}

/* ----------------------------Rodapé------------------------------ */
footer {
    background-color: #000d3c;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    flex-wrap: wrap;
    width: 100%;
}

.redes-sociais,
.redesocial {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.redes-sociais img {
    width: 24px;
}

.redesocial img {
    width: 60px;
}
